.text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}